:root {
    --color-primary: #3954A4;
    --color-border-primary: #1F2E6C
}

body {
    background-color: #EDF0FD;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar-styles {
    background-color: #fff;
    min-height: 75px;
}

.navbar-static {
    position: absolute;
    top: 0;
    width: 100%;
}

.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-border-primary);
}

.container-styles {
    margin-top: 3rem;
}

main {
    flex: 1;
}

.boton-historial {
    margin-top: 25px
}